*{
	
	text-align:center;
}

body{
	
  background-color:#eee;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div#main{
	
	display:flex;
}

div#main>div{
	
	padding:0;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

div#main>div:nth-child(2){
	
	padding:0;
	display: flex;
    flex-direction: column;
}

div#main>div>h3{
	
	background-color:gray;
	color:#eee;
	margin:0;
	padding:10px 0;
	width:100%;
	flex:0;
}

div#tree>div{
	
	display:flex;
	flex-direction:horizontal;
	height:10em;
}

div#tree>div>div{
	
	background-image: url("branches.svg");
	background-size: 100% 10em;
	display:inline-block;
	flex:1;
}

div#tree>div>div>button{
	
	top: 4.5em;
    position: relative;
}


.page-header{
	
	margin-top:5.5em;
}

.container{
	
	width:90%;
}

.member{
	
	height:3em;
}

#buttons Button{
	
	float: none;
}

#title{
	
	color:#888;
}

#listProblems{
	
	width: 33%;
}