*{
	
	text-align:center;
}

html, body, div#root, div.jumbotron{
	
    height: 100%;
}

body {
	
  background-color:#eee;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.row>div{
	
	padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

div.row::nth-child(1){
	
	padding:0;
}

.page-header{
	
	margin-top:5.5em;
}

#buttons Button{
	
	float: none;
}

#title{
	
	color:#888;
}

#listProblems{
	
	width: 33%;
}